.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #5b97f2 0%, #df31cd 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  user-select: none;
  padding: 18px 20px;
  max-width: 345px;
  height: 400px;
}

.image {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: rgb(195, 238, 238);
}

.description {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 400;
}

.links {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: rgb(133, 68, 139);
  font-size: 25px;
  font-weight: 500;
  margin-top: 7%;
  border-radius: 100px;
  background: white;
  padding: 1px 18px;
}

:hover.link {
  background-color: #e571d9;
  color: white;
}
